{% extends 'backend/layout/default.html' %}

{% block title %}使用者管理{% endblock %}
{% block head %}

{% endblock %}

{% block body %}
使用者管理
{{ users }}
<br/>
<button onClick="addUser()">test add User</button>

<script>
    function addUser(){
        $.ajax({
            url: '{{ BASE_URL_BACKEND }}/account/user/',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({username:"test22", password:"test22"}),
            success: function(result) {
                alert(result);
            }
        });
    }

</script>
    <script>
      $.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         //if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         //}
     }
});
    </script>

{% endblock %}