{% extends 'backend/layout/default.html' %}

{% block title %}使用者管理{% endblock %}
{% block head %}

<link rel="stylesheet" href="{{ STATIC_URL }}backend_view/adminLTE/datatables/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}backend_view/adminLTE/datatables/css/dataTables.bootstrap.css">
<script src="{{ STATIC_URL }}backend_view/adminLTE/datatables/js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}backend_view/adminLTE/datatables/js/dataTables.bootstrap.min.js"></script>

{% endblock %}

{% block body %}
使用者管理
{{ users }}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Users</h3>

              <div class="box-tools pull-right">
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table" id="ideaList">
                    <thead>
                        <tr style="border: 0px;">
                            <th class="text-center" style="width: 10%;">指派機關</th>
                            <th class="text-center" style="width: 10%;">提議日期</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">

            </div>
          </div>
    </div>
</div>
<br/>
<button onClick="addUser()">test add User</button>

<script>
    function addUser(){
        $.ajax({
            url: '{{ BASE_URL_BACKEND }}/account/user/',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({username:"test22", password:"test22"}),
            success: function(result) {
                alert(result);
            }
        });
    }

</script>
    <script>
      $.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         //if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         //}
     }
});
    </script>
<script>
    var datatable = null;
    function userInit() {

	var ajaxFun = function(sSource, aoData, fnCallback) {
		var url = "{{ BASE_URL_BACKEND }}/account/users/"

		var startO = null;
		var lengthO = null;
		var drawO = null;
		aoData.forEach(function(item) {
			if (item.name == "start") {
				startO = item;
			}
			if (item.name == "length") {
				lengthO = item;
			}
			if (item.name == "draw") {
				drawO = item;
			}
		});

		var page = Math.floor(startO.value/lengthO.value);
		page++;

		$.ajax({
			type : 'GET',
			url : url + "?page=" + page + "&size=10",
			contentType : 'application/json',
			success : function(result) {
				if (result.success) {
					var dat = {
						draw : drawO.value,
						data : result.result,
						recordsTotal : result.totalResults,
						recordsFiltered : result.totalResults
					}
					fnCallback(dat);
				} else {
					alert("取得列表失敗。");
					var dat = {
							draw : drawO.value,
							data : [],
							recordsTotal : 0,
							recordsFiltered : 0
						}
					fnCallback(dat);
				}
			},
			error : function(result) {
				alert("取得列表失敗。");
				var dat = {
						draw : drawO.value,
						data : [],
						recordsTotal : 0,
						recordsFiltered : 0
					}
				fnCallback(dat);
			}
		});
	}

	datatable = $('#ideaList').DataTable(
					{
						"bProcessing" : true,
						"bServerSide" : true,
						"bFilter" : false,
						"bLengthChange" : false,
						"columnDefs" : [
								{
									"targets": 0,
									"searchable" : false,
									"orderable" : false,
									"title" : "Name",
									"data" : "fields.username",
									"render" : function(data, type, full, meta) {
                                        return data;
									},
									"width" : "13%",
									"className" : "text-center"
								},
								{
									"targets": 1,
									"searchable" : false,
									"orderable" : false,
									"title" : "password",
									"data" : "fields.email",
									"render" : function(data, type, full, meta) {
                                        return data;
									},
									"width" : "10%",
									"className" : "text-center"
								}

						],
						"fnServerData" : ajaxFun
					});
}
    $(function(){
        userInit();
    });
</script>
{% endblock %}